{% extends 'base.html' %}
{% load static %}
{% block heading %}
  <div class="row">
    <h2 class="ml-5 mt-4 font-krist">question</h2>
  </div>
{% endblock %}

{% block content %}

  <div class="col-7" style="width: 170%">
    {% include 'inc/question.html' %}
    <h2 class="font-krist my-2 ml-5">answers:</h2>
    <div class="media ml-4">
      <div class="media-body">
        <ul class="list-unstyled">
          {% for answer in answers %}
            {% include 'inc/answer.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="pink-container ml-5">
      <h2 class="font-krist my-2" style="background-color: white">your answer:</h2>
      <form class="ml-5 mr-4">
        <p><textarea class="input-style mt-3 font-krist" rows="7" cols="67" name="text" placeholder="Write your answer here"></textarea></p>
        <p><input type="submit" value="answer" class="btn font-krist text-white mb-3 btn-style"/></p>
      </form>
    </div>
  </div>
{% endblock %}

{% block paginate %}
  {% include 'inc/pager.html' with page=answers%}
{% endblock %}