{% load static %}

<div class="row">
  <div class="col">
    <a href="{% url 'index' %}"><h1 class="ml-5 font-krist mt-1 mb-2" style="color: black">female forum</h1></a>
    <img src="{% static '/img/girl.svg' %}" width="500px" height="300px" class="mt-2 ml-3">
  </div>
  <div class="col bg-col">
    <input type="search" class="search-border mt-2" value="search">
    {% if user.is_authenticated %}
      <img src="{% static '/img/../../uploads/avatars/avatar.jpg' %}" class="rounded-circle mt-1 avatar-style" width="64px" height="64px">
      <a href="{% url 'logout' %}" class="font-krist text-white mr-5 float-right mt-4">sign out</a>
      <span class="font-krist text-white mr-5 float-right mt-4">{{ request.user.username }}</span>
    {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}" class="font-krist text-white float-right mt-3 mx-5">sign in</a>
      <a href="{% url 'signup' %}" class="font-krist text-white float-right mt-3 ml-5">sign up</a>
    {% endif %}
    {% if user.is_authenticated %}
      <a href="{% url 'ask' %}"><h2 class="font-krist text-white flex float-right ask-margin">ask everything sweet</h2></a>
    {% else %}
      <h2 class="font-krist text-white flex float-right ask-margin">ask everything sweet</h2>
    {% endif %}
    <h5 class="font-krist text-white flex float-right female-margin">female only</h5>
  </div>
</div>